@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  color-scheme: light dark;
}

body{
  font-family: "Poppins", sans-serif !important;
}

/* --- Logout button --- */
.btn-logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 65, 65);
}

.sign {
  width: 100%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0;
  width: 0;
  opacity: 0;
  color: white;
  font-size: 1.05em;
  font-weight: 600;
  transition: 0.3s;
}

.btn-logout:hover {
  width: 130px;
  border-radius: 40px;
}

.btn-logout:hover .sign {
  width: 30%;
  padding-left: 20px;
}

.btn-logout:hover .text {
  opacity: 1;
  width: 70%;
  padding-right: 10px;
}

.btn-logout:active {
  transform: translate(2px, 2px);
}

/* --- Toggle theme --- */
.toggle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1/1;
  grid-row: 1/1;
  transition: transform 500ms;
  line-height: 0.1;
}

.icon--moon {
  transition-delay: 200ms;
  color: #b4b4b4;
}

.icon--sun {
  transform: scale(0);
  color: #ffa500;
}

#theme-switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#theme-switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

.delete-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.svgIcon {
  width: 14px;
  transition: 0.3s;
}

.svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .svgIcon {
  width: 50px;
  transform: translateY(60%);
  transition: 0.3s;
}

/* Texto flotante */
.delete-button::before {
  position: absolute;
  top: -20px;
  content: "Eliminar";
  color: white;
  font-size: 2px;
  opacity: 0;
  transition: 0.3s;
}

.delete-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
}

