:root {
  color-scheme: light dark;
}

/* --- Logout button --- */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 65, 65);
}

.sign {
  width: 100%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0;
  width: 0;
  opacity: 0;
  color: white;
  font-size: 1.05em;
  font-weight: 600;
  transition: 0.3s;
}

.Btn:hover {
  width: 130px;
  border-radius: 40px;
}

.Btn:hover .sign {
  width: 30%;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}

/* --- Toggle theme --- */
.toggle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1/1;
  grid-row: 1/1;
  transition: transform 500ms;
  line-height: 0.1;
}

.icon--moon {
  transition-delay: 200ms;
  color: #b4b4b4;
}

.icon--sun {
  transform: scale(0);
  color: #ffa500;
}

#theme-switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#theme-switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}